{
	"webUrl" : "http://localhost:8080",
	
	"feedbackEmailAddress" : "dea@hartveld.com", 

	"mailConfig" : {
		"host" : "localhost",
		"from" : "no-reply@example.com",
		"user" : "yourname",
		"password" : "yourpassword",
		"ssl" : true,
		"port" : 587,
		"auth" : true
	},
	
	"dbConfig" : {
		"dburl" : "jdbc:postgresql://localhost/devhub-test",
		"user" : "theuser",
		"password" : "",
		"persistanceUnit" : "production-h2"
	},
	
	"services" : {
		"versionControl" : {
			"Gitolite" : {
				"user" : "git",
				"host" : "example.com",
				"admin-repo" : "gitolite-admin"
			}
		},
		"continuousIntegration" : {
			"Jenkins" : {
				"url" : "http://example.com/jenkins/",
				"sonar" : "http://example.com/sonar/"
			}
		}
	}
}