{
	"webUrl" : "http://localhost:8080",
	
	"feedbackEmailAddress" : "dea@hartveld.com", 

	"mailConfig" : {
		"host" : "localhost",
		"from" : "no-reply@example.com",
		"user" : "yourname",
		"password" : "yourpassword",
		"ssl" : true,
		"port" : 587,
		"auth" : true
	},
	
	"dbConfig" : {
		"persistanceUnit" : "production-h2",
		"dburl" : "jdbc:postgresql://localhost/devhub-test",
		"user" : "theuser",
		"password" : ""
	},
	
	"services" : {
		"versionControl" : {
			"Gitolite" : {
				"user" : "git",
				"host" : "example.com",
				"admin-repo" : "gitolite-admin"
			}
		},
		"continuousIntegration" : {
			"Jenkins" : {
				"host"		: "example.com",
				"port"		: 8080,
				"context"	: "/jenkins",
				"username"	: "devhub",
				"password"	: "$My$Password$"
			}
		}
	}
}
