body {
	height: 100%;
}

.processing {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.73);
	position: fixed;
	top: 50%;
	left: 50%;
	
	width: 64px;
	height: 64px;
	padding: 18px;
	
	margin: -50px 0 0 -50px;
	z-index: 3200;
}

.preloader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2000;
	background-color: rgba(0, 0, 0, 0.2);
}

.navbar .brand {
	margin-left: 0px;
}

.navbar .nav {
	margin: 0px;
}

.navbar .nav > li > a {
	padding: 8px;
	height: 24px;
}

.navbar .nav > li > .user-menu::after, .navbar .nav > li > .user-menu::before {
	left: 200px !important;
}

.navbar .user-menu {
	width: 230px; 
	left: -75px !important;
}

.bordered {
	border: 1px solid #bbb;
}

.rounded {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.content {
	margin-top: 30px;
}

.alert {
	padding: 8px 12px;
}

.alert .close {
	margin: 0 20px;
}

.alert-info td {
	border-top-color: #b1c4d2;
}

.alert-info tr:hover {
	background-color: #cae3f5;
	color: #164a70;
}

.invitations {
	margin-bottom: 64px;
}

.invitations h3 {
	line-height: 0px;
	padding: 6px 0px 12px 0px;
}

.invitations table {
	margin-bottom: 3px;
}

.navbar-fixed-top {
	position: inherit !important;
}

table .btn-panel {
	float: right;
}

.form-horizontal .input-wide {
	width: 345px;
}

.form-horizontal input.input-wide {
	width: 355px;
}

.form-horizontal select.input-wide {
	width: 368px;
}

.form-horizontal textarea.input-wide {
	width: 355px;
}

.form-vertical .input-wide {
	width: 505px;
}

.form-vertical input.input-wide {
	width: 515px;
}

.form-vertical select.input-wide {
	width: 528px;
}

.form-vertical textarea.input-wide {
	width: 515px;
}

.input-fullwidth {
	width: 100%;
}

form label {
	font-weight: bold;
}

form .controls label {
	font-weight: normal;
}

form .condensed {
	margin-bottom: 10px !important;
}

form.condensed {
	margin-bottom: 0px;
}

.results-box {
	border: 1px solid #ccc;
	padding: 10px;
	height: 180px;
	max-height: 180px;
	overflow: scroll;
}

.results-box .result {
	border: 1px solid #eee;
	padding: 5px 4px 7px 4px;
	margin-bottom: 3px;
}

table .attribute {
	width: 30%;
}

.menu {
	display: inline-block;
	vertical-align: top;
	border: 1px solid red;
}

.canvas {
	display: inline-block;
	vertical-align: top;
	border: 1px solid red;
}

.right {
	float: right;
	display: block;
	margin-left: 5px;
}

.left {
	margin-left: 20px;
	float: left;
}

.suppressed {
	zoom: 1;
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.suppressed:hover {
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1.0;
}

.well h3, .well h2, .well h1 {
	margin-top: 0px;
}

.well {
	margin-top: 32px;
}

.values td {
	color: #777;
}

.values td:first-child {
	font-weight: bold;
	color: #444;
	width: 200px;
}

.values td:first-child label {
	font-weight: bold;
}

label.checkbox {
	margin-bottom: 0px !important;
}

h1 .btn {
	margin-top: 8px;
}

.page-header {
	margin: 20px 0px 5px 0px !important;
}

pre button {
	margin: -2px;
}

.button-bar {
	margin: 10px 0px;
	height: 30px;
}

.step {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0px -10px 0px -10px;
	padding: 10px;
}

h2 .label {
	vertical-align: 4px;
}

.item {
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 12px;
	margin: 0px 0px 9px 0px;
	
	background: #fcfcfc;
	background: -moz-linear-gradient(top, #fcfcfc 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top, #fcfcfc 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top, #fcfcfc 0%,#f3f3f3 100%);
	background: linear-gradient(to bottom, #fcfcfc 0%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f3f3f3',GradientType=0 );
}

.item:hover {
	background: #f3f3f3;
	background: -moz-linear-gradient(top, #f3f3f3 0%, #ececec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#ececec));
	background: -webkit-linear-gradient(top, #f3f3f3 0%,#ececec 100%);
	background: -o-linear-gradient(top, #f3f3f3 0%,#ececec 100%);
	background: -ms-linear-gradient(top, #f3f3f3 0%,#ececec 100%);
	background: linear-gradient(to bottom, #f3f3f3 0%,#ececec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ececec',GradientType=0 );
}

.item .title {
	display: block;
	padding-bottom: 5px;
	font-size: 19px;
	font-weight: bold;
}

.item .subtitle {
	display: block;
	font-size: 13px;
	margin-top: 3px;
}

.item:hover .subtitle {
	color: #222;
}

.footer {
	margin-top: 64px;
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#00ffffff',GradientType=0 );
	border-top: 1px solid #ccc;
	height: 120px;
	width: 100%;
}

A.item {
	text-decoration: none;
	display: block;
}

@media (max-width: 320px) {
	body, .btn, .label {
		font-size: 9px !important;
	}
	
	h6 {
		font-size: 10px;
	}
	
	h5 {
		font-size: 11px;
	}
	
	h4 {
		font-size: 12px;
	}
	
	h3 {
		font-size: 13px;
	}
	
	h2 {
		font-size: 14px;
	}
	
	h1 {
		font-size: 15px;
	}
	
	.values td:first-child {
		width: 100px;
	}
	
	.input-wide {
		width: 220px !important;
	}
	
	.modal .input-wide {
		width: 260px !important;
	}
	
	.modal .form-horizontal .input-wide {
		width: 250px !important;
	}
	
	.modal .form-horizontal select.input-wide {
		width: 265px !important;
	}
	
	.input-xlarge {
		width: 200px !important; 
	}
	
	textarea[rows="9"] {
		height: 100px;
	}
	
}