.checkstyle
.classpath
.pmd
.project
.settings/
.factorypath
target/
war/
src/main/webapp/WEB-INF/lib/
run.cmd
debug.cmd
serverconfig.json
*.db
web/env/**.xml
web/env/**.json

pom.xml.releaseBackup
release.properties
