body {
	margin-bottom: 20px;
}

.rounded {
	-webkit-border-radius 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.content {
	margin-top: 30px;
}

.alert {
	padding: 8px 28px;
}

.alert-info td {
	border-top-color: #b1c4d2;
}

.alert-info tr:hover {
	background-color: #cae3f5;
	color: #164a70;
}

.navbar-fixed-top {
	position: inherit !important;
}

table .btn-panel {
	float: right;
}

.page-head {
	height: 60px;
}

.page-head h1, .page-head h2, .page-head h3, .page-head h4, .page-head h5, .page-head h6 {
	display: inline;
}

.page-head .btn-group {
	width: 300px;
	display: inline;
	float: right;
}

.page-head .btn {
	margin-top: 5px;
	float: right;
}

.page-head .dropdown-menu {
	width: 300px;
}

.results-box {
	border: 1px solid #ccc;
	padding: 10px;
	height: 120px;
	max-height: 120px;
	overflow: scroll;
}

.results-box .result {
	border: 1px solid #eee;
	padding: 5px;
	margin-bottom: 3px;
}

.results-box-low {
	height: 60px;
	max-height: 60px;
}

@media (max-width: 320px) {
	body, .btn, .label {
		font-size: 9px !important;
	}
}